.newItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  margin-top: 2rem;
}


.submit {
  all: unset;
  font-size: 5rem;
  border-radius: 25%;
  text-align: center;
  cursor: pointer;
}

.shiba {
  width: 6rem;
  border: 3px solid #F43F08;
  border-radius: 100px;
  padding: 1.2rem;
  background-color: #F43F08;
}
